@import url('https://fonts.cdnfonts.com/css/gistesy');
@import url('https://fonts.googleapis.com/css?family=Open Sans');

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #333;
}

h2{
    display: flex;
    font-size: 2em;
    justify-content: center;
    padding: 0.75em;
}

#header-div {
    display: flex;
    align-items: center;
    justify-content: space-between
}

#logo {
    border-radius: 8em;
    width: 200px;
    height: 200px;
    margin: 2.5em 1em 1em 2em;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

@media (max-width: 500px) {
    nav {
        flex-direction: column;
    }
}

nav a{
    font-family: 'Open Sans', sans-serif;
    margin: 0.5em;
}

#header1 {
    border: #DCCEB1 solid 4px;
    border-radius: 1em;
    margin-bottom: 1em;
}

@media (min-width:1200px) {
    #header1, .choose-us, .instructor, .testimonials, .form, footer {
        margin-left: 8em;
        margin-right: 8em;
    }
}

#header1, footer{
    background-color: #877858;
    color: white;
}


#header1 h1{
    font-family: 'Gistesy', sans-serif;
    font-size: 4em;
    margin: 0em;
    padding: 0.5em;
}

#header1 p{
    font-size: 1.2em;
    margin: 0.5em;
}

#header1 button{
    font-size: 1em;
    margin: 0.75em;
}

.choose-us, .instructor, .testimonials, .form {
    background-color: #DCCEB1;
    font-family: 'Open Sans', sans-serif;
    border-radius: 1em;
    border: #877858 solid 2px;
    margin-top: 1em;
}

.choose-us h2{
    margin: 1em;
}

.choose-us li{
    margin: 1em 0.5em 0.5em 0.5em;
}

.choose-us p{
    padding: 0.5em 0.5em 0.5em 1em;
}

.instructor::after {
    content: "";
    clear: both;
    display: table;
}

.instructor h2{
    margin: 1em;
}

.instructor p {
    padding: 0.5em 0.5em 0.5em 1em;
    text-align: justify;
}

#Cheska {
    float: right;
    padding: 0em 2em 2em 1em;
    width: 300px;
    height: auto;
}

.testimonials h2{
    margin: 1em;
}

.testimonials blockquote {
    display: flex;
    justify-content: center;
    font-size: 1.25em;
}

.testimonials p {
    display: flex;
    justify-content: center;
    padding: 0.5em 0.5em 0.5em 1em;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Name input, #Additional-info textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}

#Additional-info textarea {
    height: 5em;
}

#form-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

#Email input, #Phone-num input {
    width: 100%;
    margin-bottom: 1em;
}

.form h2{
    margin: 1em;
}

#submit-btn{
    display: flex;
    justify-content: center;
    padding: 0em 1em 1em 1em;
}

button {
    font-size: 1.25em;
}

footer{
    border: #DCCEB1 solid 4px;
    border-radius:1em;
    margin-top: 1em;
}

address, address a{
    margin: 0.5em;
}




